
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Général */

*{margin: 0;}

a{text-decoration: none;}

:root{
    /* Font family */
    --Outfit: "Outfit", sans-serif;

    /* Couleur */
    --Vert:#10B981;
    --Blanc:#fff;
    --BlancCasse:#E5E7EB;
    --BleuFonce:#1F2937;
    --Jaune:#F59E0B;
    --Bleu:#3B82F6;

    /* Epaisseur */
    --W700:700;
    --W500:500;
}


/* Body */

/* Header */

header{
    border: 1px solid var(--BlancCasse);
    background-color: var(--Blanc);
}

header>div{
    max-width: 1536px;
    height: 72px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header>div>a{
    font-family: var(--Outfit);
    color: var(--BleuFonce);
    font-size: 24px;
    font-weight: var(--W700);
}

header>div>a>i{
    color: var(--Vert);
}

header>div>nav>ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

header>div>nav>ul>li{
    font-size: 16px;
    font-family: var(--Outfit);
    font-weight: var(--W500);
    color: var(--BleuFonce);
}

header>div>nav>ul>li>#rdv{
    color: var(--Blanc);
    background-color: var(--Vert);
    padding: 8px 20px;
    border-radius: 300px;
}
