
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Général */

*{margin: 0; color: var(--BleuNoir);}


a, i{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover{
        transition: all 0.3s ease-in-out;
    }
}

:root{
    /* Font family */
    --Outfit: "Outfit", sans-serif;

    /* Couleur */
    --Vert:#10B981;
    --VertFonce:#16A34A;
    --Blanc:#fff;
    --BlancCasse:#E5E7EB;
    --BleuFonce:#1F2937;
    --BleuNoir:#111827;
    --Jaune:#F59E0B;
    --Bleu:#3B82F6;
    --Gris:#9CA3AF;

    /* Epaisseur */
    --W700:700;
    --W500:500;
    --W400:400;
}

/* Classe */

.TransitionVert:hover{
    color: var(--Vert);
}

.BackgroundVert{
    background-color: var(--Vert);
}


.TransitionBackgroundVertFonce:hover{
    background-color: var(--VertFonce);
}

/* Body */

/* Header */

header{
    border: 1px solid var(--BlancCasse);
    background-color: var(--Blanc);
}

header>div{
    max-width: 1536px;
    padding: 0 20px;
    height: 72px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header>div>a{
    font-family: var(--Outfit);
    color: var(--BleuFonce);
    font-size: 24px;
    font-weight: var(--W700);
}

header>div>a>i{
    color: var(--Vert);
}

header>div>.fa-bars{
    display: none;
    color: var(--BleuFonce);
}

header>div>nav>ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

header>div>nav>ul>li>a{
    font-size: 16px;
    font-family: var(--Outfit);
    font-weight: var(--W500);
    color: var(--BleuFonce);
}

header>div>nav>ul>li>#rdv{
    color: var(--Blanc);
    padding: 8px 20px;
    border-radius: 300px;
}

footer{
    background-color: var(--BleuNoir);
}

footer>div{
    margin: auto;
    max-width: 1536px;
    padding: 50px 0 20px 0;
}

footer>div *{
    color: var(--Gris);
    font-family: var(--Outfit);
    font-size: 14px;
    font-weight: var(--W400);
}

footer>div>#footer_div1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

footer>div>#footer_div1>article>h2{
    font-size: 18px;
    font-family: var(--Outfit);
    font-weight: var(--W700);
    color: var(--Blanc);
    padding-bottom: 15px;
}

footer>div>#footer_div1>article>ul{
    list-style: none;
    margin-left: -40px;
}

footer>div>#footer_div1>article>ul>li{
    padding-bottom: 10px;
}

footer>div>#footer_div1>article>a{
    font-family: var(--Outfit);
    font-size: 24px;
    font-weight: var(--W700);
    color: var(--Blanc);
}

footer>div>#footer_div1>article>a>i{
    color: var(--Vert);
}

footer>div>#footer_div1>article>p{
    padding-left: 5px;
    padding-top: 10px;
}

footer>div>#footer_div2{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--Gris);
}

footer>div>#footer_div2>a:hover i{
    color: var(--Vert);
}


/* Responsive */

@media screen and (max-width:1024px){
    header>div>nav{
        display: none;
    }

    header>div>.fa-bars{
        display: block;
    }
}